[Desktop Entry]
Type=Application
Terminal=false
Name="Jupyterlab"
Icon=/home/masterub/master_ub/boot/jupyterlab.png
Exec=/home/masterub/master_ub/boot/open_jupyterlab.sh
