[Desktop Entry]
Type=Application
Terminal=false
Name="Jupyterlab"
Icon=/home/master_ub/master_ub/boot/jupyterlab.png
Exec=/home/master_ub/master_ub/boot/open_jupyterlab.sh
